html, body {
    height: 100%;
    margin: 0;
  }
body {
    display: flex; /*arrange object in order*/
    flex-direction: column; /*vertical arrangement*/
}


.greet{
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    background-color: #9a6852;
    margin: 0;
    border-radius: 50px;
    padding: 0;
}
nav a {
    background-color: #9a6852;
    display: block; 
    font-size: 25px;
    padding: 15px;
}
.flex-nav {
    display: flex;
    justify-content: space-around ;
}
.flex-nav a{
    font-family: 'Comfortaa', cursive;

    display: block;
    float: left;
    color: white;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
}

.wrapper {
    flex-grow: 1; /*fill the remaining space*/
}
.wrapper p{
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #9a6852;
}

.media{
    text-align: center;
}
.media img{
    width: 60;
    height: 60;
    mix-blend-mode: multiply;/*make white color to transparent*/
}
.media p{
    color: white;
}